<div class="t-hackcss-navigation">
  <div class="t-hackcss-navigation-heading">
      <img class="t-hackcss-navigation-img" src="https://www.tilburguniversity.edu/static/uvtpresentation/images/framework/logo.jpg"></img>
      <h2>Cognitive Science & AI Group</h2>
  </div>

  <nav class="menu" role="menubar">
    {% assign url = page.url|remove:'index.html' %}
    {% for link in site.navigation %}
      <a class="menu-item {% if url == link.url %}active{% endif %}"
        role="menuitem" href="{{ link.url | prepend: site.baseurl }}" title="{{ link.title }}">
        {{ link.text }} <div class="pull-right">»</div>
      </a>
    {% endfor %}
  </nav>

</div>
