---
layout: default
permalink: people
---

<section>

  <h1>People</h1>

  <div class="grid t-hackcss-cards">

    {% for person in site.people %}

    <div class="cell -3of12 t-hackcss-cards-cell">
      <div class="card">
        <header class="card-header">{{ person.name }}</header>
        <div class="card-content">

          {% if person.image %}
          <img src="{{ person.image }}"
               alt="{{ person.name }}"
               title="{{ person.name }}" style="width: 100%;"/>
          {% endif %}

          {% if person.contact %}
          <div class="inner">
            <center>
            {% for social in person.contact %}
            <a href="{{ social.link }}"<i class ="fa fa-{{ social.icon }}"></i></a> &nbsp;
            {% endfor %}
            </center>
          </div>
          {% endif %}

        </div>
      </div>
    </div>

    {% endfor %}

  </div>
</section>
