---
layout: default
permalink: edu
---

<section>

  <h1>Teaching</h1>

  <div class="cell -4of12">
    <table>
      <tr>
        <th>name</th>
        <th>blackboard</th>
        <th>open access</th>
        <th>instructors</th>
      </tr>

    {% for course in site.courses %}
    <tr>
      <td>{{ course.name }}</td>
      <td>
        {% if course.bb %}
        <a href="{{ course.bb }}">link</a>
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td>
        {% if course.git %}
        <a href="{{ course.git }}">link</a>
        {% else %}
        &nbsp;
        {% endif %}
      </td>
      <td>{{ course.teachers }}</td>
    </tr>
    {% endfor %}
    </table>
  </div>
</section>
